NODE_ENV=development
PRODUCTS_PORT=3000
PRODUCTS_PUBLIC_PORT=8080
AUTH_ENABLED=false
SWAGGER_ENABLED=true
JWT_SECRET=change-me-in-development
JWT_EXPIRES_IN=3600s
INTERNAL_SERVICE_TOKEN=change-me-internal-development

PRODUCTS_WRITE_DB_HOST=products-write-db
PRODUCTS_WRITE_DB_PORT=5432
PRODUCTS_WRITE_DB_NAME=products_write
PRODUCTS_WRITE_DB_USER=products
PRODUCTS_WRITE_DB_PASSWORD=products

PRODUCTS_READ_DB_HOST=products-read-db
PRODUCTS_READ_DB_PORT=5432
PRODUCTS_READ_DB_NAME=products_read
PRODUCTS_READ_DB_USER=products
PRODUCTS_READ_DB_PASSWORD=products

RABBITMQ_URL=amqp://products:products@rabbitmq:5672
RABBITMQ_EXCHANGE=delivery.events
RABBITMQ_PRODUCTS_QUEUE=products.read.projector
