NODE_ENV=development
PRODUCTS_PORT=3000
PRODUCTS_PUBLIC_PORT=8080
SWAGGER_ENABLED=true
JWT_SECRET=change-me-in-development
JWT_EXPIRES_IN=3600
INTERNAL_SERVICE_TOKEN=change-me-internal-development

PRODUCTS_WRITE_DB_HOST=products-write-db
PRODUCTS_WRITE_DB_PORT=5432
PRODUCTS_WRITE_DB_NAME=products_write
PRODUCTS_WRITE_DB_USER=products
PRODUCTS_WRITE_DB_PASSWORD=products

PRODUCTS_READ_DB_HOST=products-read-db
PRODUCTS_READ_DB_PORT=5432
PRODUCTS_READ_DB_NAME=products_read
PRODUCTS_READ_DB_USER=products
PRODUCTS_READ_DB_PASSWORD=products

RABBITMQ_URL=amqp://products:products@rabbitmq:5672
RABBITMQ_EXCHANGE=delivery.events
RABBITMQ_PRODUCTS_QUEUE=products.read.projector

INVENTORY_PORT=3000
RABBITMQ_INVENTORY_QUEUE=inventory.read.projector
INVENTORY_WRITE_DB_HOST=inventory-write-db
INVENTORY_WRITE_DB_PORT=5432
INVENTORY_WRITE_DB_NAME=inventory_write
INVENTORY_WRITE_DB_USER=inventory
INVENTORY_WRITE_DB_PASSWORD=inventory
INVENTORY_READ_DB_HOST=inventory-read-db
INVENTORY_READ_DB_PORT=5432
INVENTORY_READ_DB_NAME=inventory_read
INVENTORY_READ_DB_USER=inventory
INVENTORY_READ_DB_PASSWORD=inventory

AUTH_PORT=3000
AUTH_DB_HOST=auth-db
AUTH_DB_PORT=5432
AUTH_DB_NAME=auth
AUTH_DB_USER=auth
AUTH_DB_PASSWORD=auth

ORDERS_PORT=3000
ORDERS_DB_HOST=orders-db
ORDERS_DB_PORT=5432
ORDERS_DB_NAME=orders
ORDERS_DB_USER=orders
ORDERS_DB_PASSWORD=orders
PRODUCTS_SERVICE_URL=http://products-service:3000
INVENTORY_SERVICE_URL=http://inventory-service:3000
ORDERS_HTTP_TIMEOUT_MS=3000
